<img src="../../assets/images/imgtest.jpg" alt='tp' class="bg">
<div class="txtshow">
  <h2>Sports are about those incredible moments where sheer human will and desire overcomes the odds. These are the moments we remember.</h2>
</div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../assets/images/logon.png" alt="Games" class="navbar-brand" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
        <div>
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a routerLink="login" routerLinkActive="active"> <button class="btn btn-success pull-right"> Login User </button></a>
                  </li>
            <li class="nav-item">
              <a routerLinkActive="active" routerLink="register"> <button class="btn-success btn"> Register User</button> </a>
            </li>
          </ul>
        </div>

    </div>
  </nav>




