<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../assets/images/logon.png" alt="Games" class="navbar-brand" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
        </ul>


        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

      </nav>
  </div>


<h1 style="text-align: center;">Event List</h1>

  <div class="e-list">
    <button class="btn btn-primary" (click)="getLST()"> Show list </button>
  <table border="1">
    <tr>
      <td>Id</td>
      <td>Event Id</td>
      <td>Event Name</td>
      <td>Market Count</td>
    </tr>
    <tr *ngFor = 'let item of xlist'>
<td>{{item._id}}</td>
<td>{{item.eventId}}</td>
<td>{{item.eventName}}</td>
<td>{{item.marketCount}}</td>
    </tr>

  </table>

  </div>
