.navbar{
  position: fixed;
  top: 0%;
  width: 100%;
  left: 0%;
}


.navbar-brand{
  height: 10%;
  width: 7%;
  left: 0%;
  top: 0%;
}

 .sidenav {
   margin-top: 72px;
  height: 100%;
  width: 160px;
  position: Fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-top: 72px;
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidesub{
  height: 50px;
  border-radius: 5px;
  border: 3px solid white;
  padding: 0px;
  margin: 10px;
 text-align: center;
 width: 157px;
 margin-left: 1%;
color: rgb(112, 124, 123);
}

.sidesub:hover{
  text-decoration: underline;
  background-color: turquoise;
  text-shadow: darkmagenta;
}
