<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="../assets/images/logon.png" alt="Games" class="navbar-brand" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
        </ul>


        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

      </nav>
  </div>

  <h1 style="text-align: center;"> Admin Login Form </h1>
  <form [formGroup]="adminloginform" (ngSubmit)='getMethod()' class="tpmargin">
    <div class="bard">
    <div class="form-group col-md-7 fm">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" formControlName='email' placeholder="Enter email">
      <span *ngIf = "!email.valid && (email.touched || submitted )" class="error-msg ng-invalid"> Please enter valid email id</span>

    </div>
    <div class="form-group col-md-7 fm">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password">
      <span *ngIf = "!password.valid && (password.touched || submitted)" class="error-msg ng-invalid">Please enter password</span>
      <span *ngIf = "submitted && loginError" class="error-msg ng-invalid">You have entered wrong email id or password</span>
    </div>
    <div class="form-check fm">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-success" >Submit</button>
  </div>
  </form>







